* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {

    list-style: none;
    display: inline-block;
    padding: 0 10px;
    font-size: small;
}

header>div {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: rgb(9, 209, 192);
    height: 35px;
    padding: 10px 20px;
}

main {
    height: calc(100vh - 35px);
}

section.left {
    flex-basis: 30%;
    background-color: rgb(8 10 19);
    border-right: 1px solid grey;
    flex-direction: column;

}

section.rigth {
    flex-basis: 70%;
    background-color: rgb(11 16 25);
    background-image: url("../img/pattern.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

main {

    display: flex;
    align-items: stretch;
}

.avatar {
    width: 110px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.avatar img {
    width: 50px;
    border-radius: 50%;
}

.top-head {
    padding: 0 20px;
    height: 70px;
    color: honeydew;
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.top-head div a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 25px;

}

.top-head div a:last-child {
    font-size: 20px;

}

.search-contact {

    height: 60px;
    background-color: rgb(11 16 25);
    padding: 10px;
    border-bottom: 1px solid grey;
}

.search-contact>div {
    color: grey;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(51, 51, 51);
    border-radius: 20px;
    padding: 10px;
}

input {
    background-color: rgb(51, 51, 51);
    border: none;
    outline: none;
    font-style: italic;
    width: 100%;
    padding: 0 10px;
}

input:focus {
    color: white;
}

.action-menu {
    display: flex;
    justify-content: space-around;
    height: 25px;
    width: 200px;
}

.action-menu>ul li a {
    color: grey;
    font-size: 20px;
}

.action-menu ul:last-child {

    border-left: 1px solid grey;
}

.top-nav {
    padding: 0 20px;
    height: 70px;
    width: 100%;
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: rgb(11 16 25);
}

footer ul {
    width: 100%;
    display: flex;
    align-items: center;

}

footer ul li a {
    font-size: 25px;
    text-decoration: none;
    color: grey;

}


.msg-user {
    height: 40px;
    background-color: rgb(51, 51, 51);
    border-radius: 20px;
    padding: 10px;
    width: 100%;
}

.grow {
    flex-grow: 1;
}

.left>ul li, .left > ul li .avatar {
    width: 100%;
    justify-content: space-evenly;
}

